<% if @user.name == "" %>
<% greeting = @user.username %>
<% else %>
<% greeting = @user.name %>
<% end %>
<h2>Welcome, <%= greeting %>! Here are the products you have listed:</h2>
<div class="flex-container">
<% @user.products.each do |product| %>
  <div class="card flex-item">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h5 class="card-title"><%= product.name %></h5></li>
        <li class="list-group-item"><img src="<%= product.img %>" width="100" height="100"></li>
        <li class="list-group-item">Price: $<%= product.price %></li>
        <li class="list-group-item">Description:<br><%= product.description %></li>
        <li class="list-group-item"><a href="/products/<%= product.id %>/edit">Edit Product</a></li>
        <li>
          <form method="post" action="/products/<%= product.id %>">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Item" class="btn btn-primary" id="cart-button">
          </form>
        </li>
      </ul>
    </div>
  </div>
<% end %>
</div>

<div class="cart-footer">
  <div class="cart-footer-item">
    <a href="/"><button type="button" class="btn btn-primary link-button">Continue Shopping</button></a>
  </div>

  <div class="cart-footer-item">
    <form method="get" action="/products/new">
      <input type="submit" value="List New Product" class="btn btn-primary">
    </form>
  </div>
</div>

