<h2>Welcome, <%= @user.name.capitalize || @user.username %>! Here are the products you have listed:</h2>
<div class="flex-container">
<% @user.products.each do |product| %>
  <div>
    <p id="product-name"><%= product.name %></p>
    <p id="product-price"> <%= product.price %></p>
    <p id="product-description"><%= product.description %></p>
    <p><a href="/products/<%= product.id %>/edit">Edit Product</a></p>
    <p>
      <form method="post" action="/products/<%= product.id %>">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Item">
      </form>
    </p>
  </div>
<% end %>
</div>
<a href="/products/new">List New Product</a>
<form method="post" action="/logout">
  <input type="submit" value="Log Out">
</form>