<% if @user.name == "" %>
<% name = @user.username %>
<% else %>
<% name = @user.name %>
<% end %>
<h2><%= name %>'s Cart:</h2>

<% if !@user.notifications.empty? %>
  <% @user.notifications.each do |notification| %>
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= notification.message %></strong> 
    </div>
  <% end %>
  <% clear_notifications(@user) %>
<% end %>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Item:</th>
      <th scope="col">Price:</th>
    </tr>
  </thead>
  <tbody>
    <% @user.cart.products.each do |product| %>
      <tr>
        <th scope="row">

      </tr>
    <% end %>
    

    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div class="flex-container">
  <% @user.cart.products.each do |product| %>
    <div class="card flex-item">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5 class="card-title"><%= product.name %></h5></li>
          <li class="list-group-item">Price: $<%= product.price %></li>
          <li class="list-group-item">Description:<br><%= product.description %></li>
          <form method="post" action="/users/<%= @user.id %>/cart">
            <input type="hidden" id="hidden" name="_method" value="PATCH">
            <input type="hidden" name="delete_product_id" value="<%= product.id %>">
            <input type="submit" value="Remove From Cart" class="btn btn-primary" id="cart-button">
          </form>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="cart-footer">
  <div class="cart-footer-item">
    <a href="/"><button type="button" class="btn btn-primary link-button">Continue Shopping</button></a>
  </div>

  <div class="cart-footer-item">
    <form method="post" action="/users/<%= current_user.id %>/cart">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="checkout" value="true">
    <input type="submit" value="Checkout" class="btn btn-primary">
    </form>
  </div>

  <div class="cart-footer-item">
    Account Balance: $<%= @user.balance %>
  </div>

  <div class="cart-footer-item">
    Cart Total: $<%= @cart_total %>
  </div>
</div>