<% if @user.name == "" %>
<% name = @user.username %>
<% else %>
<% name = @user.name %>
<% end %>
<h2><%= name %>'s Cart:</h2>

<% if !@user.notifications.empty? %>
  <% @user.notifications.each do |notification| %>
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= notification.message %></strong> 
    </div>
  <% end %>
  <% clear_notifications(@user) %>
<% end %>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item:</th>
      <th scope="col">Price:</th>
    </tr>
  </thead>
  <tbody>
    <% n = 0 %>
    <% @user.cart.products.each do |product| %>
      <tr>
        <th scope="row"><%= n += 1 %></th>
        <td><%= product.name %></td>
        <td>$<%= product.price %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<div class="cart-footer">
  <div class="cart-footer-item">
    <a href="/"><button type="button" class="btn btn-primary link-button">Continue Shopping</button></a>
  </div>

  <div class="cart-footer-item">
    <form method="post" action="/users/<%= current_user.id %>/cart">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="checkout" value="true">
    <input type="submit" value="Checkout" class="btn btn-primary">
    </form>
  </div>

  <div class="cart-footer-item">
    Account Balance: $<%= @user.balance %>
  </div>

  <div class="cart-footer-item">
    Cart Total: $<%= @cart_total %>
  </div>
</div>