<% if current_user.name == "" %>
<% name = current_user.username %>
<% else %>
<% name = current_user.name %>
<% end %>
<h2><%= name %>'s Cart:</h2>

<% if !current_user.notifications.empty? %>
  <% current_user.notifications.each do |notification| %>
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= notification.message %></strong> 
    </div>
  <% end %>
  <% clear_notifications %>
<% end %>

<div id="cart">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item:</th>
        <th scope="col">Price:</th>
        <th scope="col">Remove from Cart:</th>
      </tr>
    </thead>
    <tbody>
      <% n = 0 %>
      <% current_user.cart.products.each do |product| %>
        <tr>
          <th scope="row"><%= n += 1 %></th>
          <td><%= product.name %></td>
          <td>$<%= product.price %></td>
          <td>
            <form method="post" action="/users/<%= current_user.id %>/cart">
              <input type="hidden" name="_method" value="patch">
              <input type="hidden" name="remove_product_id" value="<%= product.id %>">
              <input type="submit" value="Remove" class="btn btn-primary">
            </form>
          </td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>

<div class="cart-footer">
  <div class="cart-footer-item">
    <a href="/"><button type="button" class="btn btn-primary link-button">Continue Shopping</button></a>
  </div>

  <div class="cart-footer-item">
    <form method="post" action="/users/<%= current_user.id %>/cart">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="checkout" value="true">
    <input type="submit" value="Checkout" class="btn btn-primary">
    </form>
  </div>

  <div class="cart-footer-item">
    Account Balance: $<%= current_user.balance %>
  </div>

  <div class="cart-footer-item">
    Cart Total: $<%= @cart_total %>
  </div>
</div>