<% if @filter %>
<div class="dropdown" id="filter">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Filter <span class="caret"></span>
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <form class="dropdown-item" method="post" action="/search/<%= @products.map {|p| p.id}.join(",") %>/price_low_to_high">
      <input type="submit" value="Price: Low to High">
    </form>
    <form class="dropdown-item" method="post" action="/search/<%= @products.map {|p| p.id}.join(",") %>/price_high_to_low">
      <input type="submit" value="Price: High to Low">
    </form>
  </div>
</div>
<% end %>

<div class="flex-container">
  <% @products.each do |product| %>
    <div class="flex-item">
        <% if product.image %>  
          <img src="<%= product.image %>" alt="<%= product.name %>">
        <% end %>
        <h4 class="card-title"><%= product.name %></h4>
        <hr>
        <strong>Product Description:</strong><br>
        <p class="card-text"><%= product.description %></p>
        <hr>
        <span><strong>Price: </strong>$<%= product.price %></span>
        <% if logged_in? %>
          <form method="post" action="/users/<%= current_user.id %>/cart">
            <input type="hidden" id="hidden" name="_method" value="PATCH">
            <input type="hidden" name="add_product_id" value="<%= product.id %>">
            <input type="submit" value="Add To Cart" class="btn btn-primary" id="cart-button">
          </form>
        <% end %>
    </div>
  <% end %>
</div>