<div class="flex-container">
<% @products.each do |product| %>
  <div>
    <p id="product-name"><%= product.name %></p>
    <p id="product-price">Price: $<%= product.price %></p>
    <p id="product-description">Description:<br><%= product.description %></p>
    <% if logged_in? %>
      <form method="post" action="/users/<%= current_user.id %>/cart">
        <input type="hidden" id="hidden" name="_method" value="PATCH">
        <input type="hidden" name="add_product_id" value="<%= product.id %>">
        <input type="submit" value="Add To Cart">
      </form>
    <% end %>
  </div>
<% end %>
</div>